<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration >
<!--    根元素标签-->
    <properties resource="db.properties"/>
<!--    <settings>-->
<!--&lt;!&ndash;  开启 全局缓存 默认 true&ndash;&gt;-->
<!--        <setting name="cacheEnabled" value="true"/>-->
<!--&lt;!&ndash;  开启 全局懒加载 ，默认FALSE  &ndash;&gt;-->
<!--        <setting name="lazyLoadingEnabled" value="true"/>-->
<!--&lt;!&ndash;  开启 关联属性的懒加载    默认FALSE   &ndash;&gt;-->
<!--        <setting name="aggressiveLazyLoading" value="true"/>-->
<!--&lt;!&ndash;  开启 驼峰映射     &ndash;&gt;-->
<!--        <setting name="mapUnderscoreToCamelCass" value="true"/>-->
<!--    </settings>-->

  <typeAliases>
<!--  第二种配置方式 默认实体类的类名就是别名 ，大小写不区分-->
        <package name="com.xhw.pojo"/>
    </typeAliases>

<!--    数据库环境配置-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
<!--  配置数据源-->
            <dataSource type="POOLED">
                <property name="driver" value="${mysql.driver}"/>
                <property name="url" value="${mysql.url}"/>
                <property name="username" value="${mysql.username}"/>
                <property name="password" value="${mysql.password}"/>
            </dataSource>
        </environment>
    </environments>

<!--   引入配置文件-->
    <mappers>
        <mapper resource="mapper/userMapper.xml"/>
    </mappers>

</configuration>
